<fieldset>
    <mtapp:setting
        id="active"
        label="<__trans phrase="Active this plugin">">
        <input type="checkbox" value="1" name="active" id="active"<tmpl_if name="active"> checked="checked"</tmpl_if> />
    </mtapp:setting>
    <mtapp:setting
        id="active_tmpl"
        label="<__trans phrase="Active the edit template editor">">
        <input type="checkbox" value="1" name="active_tmpl" id="active_tmpl"<tmpl_if name="active_tmpl"> checked="checked"</tmpl_if> />
    </mtapp:setting>
</fieldset>
